<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtitle }}</p>

{% schema %}
{
  "name": "Template 404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "That page is not avaiable",
      "label": "404 Heading Sub Title"
    }
  ]
}
{% endschema %}
